Repository ISIS3510-S2-G23/swift_project, pull requests merged in 2025-04, with the labels that each got.

#44 Post views are implemented
  .gitignore
  swift_app/swift_app.xcodeproj/project.xcworkspace/xcuserdata/paulinaarrazola.xcuserdatad/UserInterfaceState.xcuserstate
  swift_app/swift_app/Authentication/Services/AuthenticationService.swift
  swift_app/swift_app/Post/Model/Post.swift
  swift_app/swift_app/Post/Model/User.swift
  swift_app/swift_app/Post/View/ForumView.swift
  swift_app/swift_app/Post/View/PostCardView.swift
  swift_app/swift_app/Post/View/PostDetailView.swift
  swift_app/swift_app/Post/View/TopicFilterView.swift
  swift_app/swift_app/Post/ViewModel/ForumViewModel.swift
  swift_app/swift_app/Tab Bar/MainTabBar.swift
Labels: code

#47 Implementation of Add Post
  .gitignore
  swift_app/swift_app.xcodeproj/project.pbxproj
  swift_app/swift_app.xcodeproj/project.xcworkspace/xcuserdata/paulinaarrazola.xcuserdatad/UserInterfaceState.xcuserstate
  swift_app/swift_app/Add Post/AddPostView.swift
  swift_app/swift_app/Add Post/AddPostViewModel.swift
  swift_app/swift_app/Assets.xcassets/CardBackground.colorset/Contents.json
  swift_app/swift_app/Assets.xcassets/Post.imageset/Contents.json
  swift_app/swift_app/Assets.xcassets/Post.imageset/Post.png
Labels: bug

#48 Account View Implementation
  .gitignore
  swift_app/swift_app.xcodeproj/project.xcworkspace/xcuserdata/paulinaarrazola.xcuserdatad/UserInterfaceState.xcuserstate
  swift_app/swift_app/Account/AccountView.swift
Labels: enhancement

#51 Implementation of the first 5 BQ
  .gitignore
  swift_app/swift_app.xcodeproj/project.pbxproj
  swift_app/swift_app.xcodeproj/project.xcworkspace/xcuserdata/paulinaarrazola.xcuserdatad/UserInterfaceState.xcuserstate
  swift_app/swift_app.xcodeproj/xcshareddata/xcschemes/swift_app.xcscheme
  swift_app/swift_app.xcodeproj/xcuserdata/paulinaarrazola.xcuserdatad/xcschemes/xcschememanagement.plist
  swift_app/swift_app/Account/AccountView.swift
  swift_app/swift_app/Add Post/AddPostView.swift
  swift_app/swift_app/Add Post/AddPostViewModel.swift
  swift_app/swift_app/GoogleService-Info.plist
  swift_app/swift_app/Points/Challenges and Rewards/ChallengesView.swift
  swift_app/swift_app/Points/Challenges and Rewards/RewardsView.swift
  swift_app/swift_app/Points/Near Me/NearMeView.swift
  swift_app/swift_app/Post/View/ForumView.swift
  swift_app/swift_app/Welcome/WelcomeView1.swift
  swift_app/swift_app/swift_appApp.swift
Labels: code

#55 Implemented Multithreading strategy for fetching map locations
  swift_app/swift_app/Points/Near Me/MapViewModel.swift
  swift_app/swift_app/Points/Near Me/NearMeView.swift
  swift_app/swift_app/Tab Bar/MainTabBar.swift
Labels: code

#58 Eventual connectivity and cache for add post
  .gitignore
  swift_app/swift_app.xcodeproj/project.xcworkspace/xcuserdata/paulinaarrazola.xcuserdatad/UserInterfaceState.xcuserstate
  swift_app/swift_app/Add Post/AddPostEC/PostCacheManager.swift
  swift_app/swift_app/Add Post/AddPostEC/PostSyncManager.swift
  swift_app/swift_app/Add Post/AddPostView.swift
  swift_app/swift_app/Add Post/AddPostViewModel.swift
  swift_app/swift_app/NetworkMonitor.swift
  swift_app/swift_app/swift_appApp.swift
Labels: code

#61 EC and caching challenges and rewards
  .gitignore
  swift_app/swift_app.xcodeproj/project.pbxproj
  swift_app/swift_app.xcodeproj/project.xcworkspace/xcuserdata/paulinaarrazola.xcuserdatad/UserInterfaceState.xcuserstate
  swift_app/swift_app/Points/Challenges and Rewards/Challenge.swift
  swift_app/swift_app/Points/Challenges and Rewards/ChallengesView.swift
  swift_app/swift_app/Points/Challenges and Rewards/ChallengesViewModel.swift
Labels: enhancement, code

#66 Implement Network messages for non-implemented-EC views
  swift_app/swift_app/Authentication/Services/AuthenticationService.swift
  swift_app/swift_app/Authentication/Views/LogInView.swift
  swift_app/swift_app/Authentication/Views/SignUpView.swift
  swift_app/swift_app/Points/Challenges and Rewards/RewardsView.swift
  swift_app/swift_app/Points/Near Me/MapViewModel.swift
  swift_app/swift_app/Points/Near Me/NearMeView.swift
  swift_app/swift_app/Post/View/ForumView.swift
  swift_app/swift_app/Post/ViewModel/ForumViewModel.swift
Labels: enhancement, code

#69 Merge Develop into Main For Sprint 3
  .gitignore
  swift_app/swift-app-Info.plist
  swift_app/swift_app.xcodeproj/project.pbxproj
  swift_app/swift_app.xcodeproj/project.xcworkspace/xcuserdata/paulinaarrazola.xcuserdatad/UserInterfaceState.xcuserstate
  swift_app/swift_app.xcodeproj/xcshareddata/xcschemes/swift_app.xcscheme
  swift_app/swift_app.xcodeproj/xcuserdata/paulinaarrazola.xcuserdatad/xcschemes/xcschememanagement.plist
  swift_app/swift_app/Account/AccountView.swift
  swift_app/swift_app/Add Post/AddPostEC/PostCacheManager.swift
  swift_app/swift_app/Add Post/AddPostEC/PostSyncManager.swift
  swift_app/swift_app/Add Post/AddPostView.swift
  swift_app/swift_app/Add Post/AddPostViewModel.swift
  swift_app/swift_app/Assets.xcassets/CardBackground.colorset/Contents.json
  swift_app/swift_app/Assets.xcassets/Post.imageset/Contents.json
  swift_app/swift_app/Assets.xcassets/Post.imageset/Post.png
  swift_app/swift_app/Authentication/Services/AuthenticationService.swift
  swift_app/swift_app/Authentication/Views/LogInView.swift
  swift_app/swift_app/Authentication/Views/SignUpView.swift
  swift_app/swift_app/GoogleService-Info.plist
  swift_app/swift_app/NetworkMonitor.swift
  swift_app/swift_app/Points/Challenges and Rewards/CameraLogic.swift
  swift_app/swift_app/Points/Challenges and Rewards/Challenge.swift
  swift_app/swift_app/Points/Challenges and Rewards/ChallengesView.swift
  swift_app/swift_app/Points/Challenges and Rewards/ChallengesViewModel.swift
  swift_app/swift_app/Points/Challenges and Rewards/RegisterVisitPopUpView.swift
  swift_app/swift_app/Points/Challenges and Rewards/RewardsView.swift
  swift_app/swift_app/Points/Near Me/MapViewModel.swift
  swift_app/swift_app/Points/Near Me/NearMeView.swift
  swift_app/swift_app/Post/Model/Post.swift
  swift_app/swift_app/Post/Model/User.swift
  swift_app/swift_app/Post/View/ForumView.swift
  swift_app/swift_app/Post/View/PostCardView.swift
  swift_app/swift_app/Post/View/PostDetailView.swift
  swift_app/swift_app/Post/View/TopicFilterView.swift
  swift_app/swift_app/Post/ViewModel/ForumViewModel.swift
  swift_app/swift_app/Tab Bar/MainTabBar.swift
  swift_app/swift_app/Welcome/WelcomeView1.swift
  swift_app/swift_app/swift_appApp.swift
Labels: code
